extends layout

block content
  div.container
    img.lemon(src='http://superawesomevectors.com/wp-content/uploads/2015/03/flat-lemon-vector.jpg')  
  p.tagLine When life gives you lemons, make lemonade!

      
