body {
  background-color: white;
  padding: 50px;
  font-family: sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 50vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
